@font-face {
    font-family: "Merchant Copy Wide";
    src: url('./merchant-copy/Merchant-Copy-Wide.ttf');
}

body {
    background-image: url(./cloth.jpg);
}

#meal {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-content: center;
}

#receipt-and-tallies {
    align-self: flex-end;
    position: relative;
}

#receipt { 
    height: 300px;
    display: block;
}

.tallies {
    font-family: "Merchant Copy Wide", monospace;
    transform: skew(20deg, -26deg);
    -webkit-transform: skew(20deg, -26deg);
    -moz-transform: skew(20deg, -26deg);
}

#lives {
    position: absolute;
    right: 34%;
    bottom: 64%;
}

#games-won {
    position: absolute;
    right: 31%;
    bottom: 58%;
}


#soup {
    position: relative;
}

 .soup-bowl {
    display: block; 
} 

#word-display {
    width: 400px;
    position: absolute;
    left: 8%;
    top: 43%;
    display: flex;
    justify-content: center;
}

.soup-letter {
    width: 45px;
    height: 60px;
    z-index: 100;
}

.space-right {
    margin-right: 20px;
}

.starting {
    width: 36px;
    height: 48px;
}

.spoon-napkin-incorrect-letters {   
    position: relative;
    display: flex;  
} 

.spoon-napkin {
    margin-left: 25px;
    display: block;
}

#incorrect-letters-display {
    width: 205px;
    top: 60px;
    left: 850px;
    position: absolute;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.incorrect-letter {
    height: 70px;
    z-index: 100;
    /* position: absolute; */
}

.incorrect-letter:nth-of-type(odd) {
    align-self: flex-end;
}

/* .incorrect-letter:nth-of-type(3n) {
    justify-content: space-between;
} */

/* @media screen and (max-width: 900px) {
    #meal {width: 90%;}
} */



