body {
    background-image: url(./cloth.jpg);
}

#soup {
    width: 800px;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

.soup-bowl {
    position: relative;
    
}

.thisWord {
}


.napkin-spoon {
    z-index: 1;
}

#word-display {
    width: 400px;
    position: absolute;
    left: 40px;
    top: 230px;
    display: flex;
    justify-content: center;
}

.printed-letter {
    height: 50px;
    z-index: 100;
}